bibliographie
PythonSIFT-master.zip
algo_sift_v0/images
discover_opencv/images
**/_pycache_
**/**/__pycache__
**/*.pyc
visualize_hessian/zoomed_kp
images
plotted_results
code/*/
!code/execution_logs/
data/**/**/*_cropped*
rapport/images

code/computation_pipeline_hyper_params.py